<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE com.atguigu.gmall.scheduled.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.atguigu.gmall.scheduled.mapper.dtd">
<com.atguigu.gmall.scheduled.mapper namespace="com.atguigu.gmall.pms.com.atguigu.gmall.scheduled.mapper.CategoryMapper">

    <resultMap id="categoryMap" type="CategoryEntity" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="subs" javaType="List" ofType="CategoryEntity" select="queryLvl2CatesWithSubsByPid" column="id">
        </collection>
    </resultMap>
    <select id="queryLvl2CatesWithSubsByPid" resultMap="categoryMap">
        select * from pms_category where `parent_id`=#{pid};
    </select>

</com.atguigu.gmall.scheduled.mapper>
